body {
    padding: 0px;
    margin:0px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 13px;
}

header {
    width: 100%;
    background: #555;
    padding: 2px;
    z-index: -10000;
}

footer {
    height: 80px;
    bottom: 0px;
    clear: both;
    position: absolute;
    z-index: 10;
}

a {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Search form */
.search_form > input {
    background: white;
    opacity: 1;
}

#helper .search_form > input {
    font-size: 30px;
    width: 500px;
    padding: 10px;
}

/* Map elements */
#canvas_holder{
    position: fixed;
    top: 0px;
        left: 0px;
        width:100%;
        height:100%;
    z-index: -10;
}

#map_canvas{
    width:100%;
    height:100%;
    position: "absolute";
    top: 0px;
    left: 0px;
    overflow: "hidden";
}


.concert_location {
    max-height: 200px;
    min-width: 100px;
    h4 {
        display: block;
        margin-bottom: 2px;
    }
}

/* Helper section */
#helper {
    color: #ddd;
    margin: 80px auto 0 auto;
    width: 800px;
    height: 400px;
    background: #555;
    padding: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 15px;

}

#helper > h1 {
    font-size: 400%;
    text-align: center;
    margin-bottom: 40px;
}

#helper .head {
    font-size: 20px;
}

#helper img.deezer {
    width: 80px;
    margin-bottom: 5px;
}
#helper img.instagram {
    width: 50px;
}
#helper img.musicbrainz {
    width: 80px;
    margin-bottom: 1px;
}
#helper img.setlist {
    width: 100px;
    margin-bottom: 15px;
    
}
#helper img.songkick {
    width: 50px;
}

/* Concert section */
#concerts {
    color: #ddd;
    float: left;
    width: 400px;
    height: 450px;
    background: #555;
    opacity: 0.5;
    margin: 20px;
    margin-right: 0px;
}

#concerts > #loading {
    text-align: center;
    font-size: 15px;
}
#concerts > #loading img {
    margin-bottom: 10px;
}

#concerts > h1 {
    padding: 10px;
    font-size: 300%;
    text-align: center;
}

#concerts > ul {
    height: 300px;
    padding: 5px;
    margin-top: -15px;
    overflow: scroll;
    font-size: 12px;
}

#concerts > ul > li {
    margin-bottom: 5px;
}

#concerts > ul > li .date {
    font-weight: bold;
    font-size: large;
}

#concerts > ul > li:hover {
    background: black;
    cursor: pointer;
}

/* Instagram section */
#instagram {
    display: none;
    color: #ddd;
    float: left;
    width: 400px !important;
    height: 450px !important;
    background: #555;
    margin: 20px;
    margin-left: 0px;
}

#galleria {
    width: 400px;
    height: 450px;
}