<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>InstaKickZeer</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/gigographics.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/coin-slider-styles.css" media="screen" />
        <!-- Webfonts -->
        <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" type="text/css">
        <!-- jquery and friends -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/coin-slider.min.js"></script>
        <!-- google maps -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <!-- instakick code -->
        <script src="/static/gigographics.js"></script>
        <script src="/static/helper.js"></script>
        <!-- Deezer -->
        <script src="http://e-cdn-files.deezer.com/js/min/dz.js"></script>
    </head>
    <body>
        <!-- Deezer SDK -->
        <div id="dz-root"></div>
        <!-- Main page -->
        <article>
            <!-- Header including search form -->
            <header style="display:none;">
                <form class="search_form">
                    <input type="text" class="artist">
                </form>
            </header>
            <!-- Helper -->
            <section id="helper">
                <h1>InstaKickZeer</h1>
                <p>
                    <span class="head">Enjoy the setlists and pictures of your favorite artists' gigography</span>
                    <form class="search_form">
                        <input type="text" class="artist">
                    </form>
                </p>
                <p>
                    A experiment from <a href="">MusicHackDay Stockholm 2013</a> by <a href="">@terraces</a> and <a href="">@Ciack404</a><br/>
                    Powered by love, music and APIs<br/>
                    Add logos here<br/>
                    Check <a href="">seevl.net</a> and <a href="">mdg.io</a>, or <a href="">contact-us</a> for more music-tech awesomeness
                </p>
            </section>
            <!-- Gigography -->
            <section id="concerts" style="display: none;">
                <h1></h1>
                <p id="loading">
                    <img src="/static/loader.gif" alt="Loading"><br/>
                    Loading data from Songkick and Instagram
                </p>
                <ul></ul>
            </section>
            <section id="instagram">
                <!-- <ul></ul> -->
            </section>
            <!-- Deezer player -->
            <footer style="display:none;">
                <div id="player"></div>
            </footer>
        </article>
        <!-- Google Maps -->
        <div id="canvas_holder">
            <div id="map_canvas"></div>
        </div>
    </body>
</html>
