<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
	    <title>MHD - InstaKick</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../static/gigographics.css" media="screen" />
        <!-- jquery and friends -->
        <script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.js"></script>
        <script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
        <!-- google maps -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <!-- instakick code -->
        <script src="../static/gigographics.js"></script>
        <script src="../static/helper.js"></script>
    </head>
    <body>
        <article>
            <header>
                <!-- search form -->
                <form id="search_form">
                    <input type="text">
                </form>
            </header>

            <div id="concerts">
                <h1>TEST</h1>
                <ul></ul>
            </div>

            <footer>
                <iframe scrolling="no" frameborder="0" allowTransparency="true" src="http://www.deezer.com/en/plugins/player?autoplay=false&amp;playlist=false&amp;width=800&amp;height=80&amp;cover=true&amp;type=playlist&amp;id=30595446" width="800" height="80"></iframe>
            </footer>
        </article>

        <!--Google Maps APIv3 Background-->
        <div id="canvas_holder">
            <div id="map_canvas"></div>
        </div><!-- End Google Maps Background -->
        
    </body>
</html>
